html
{
	animation: myanimation;
	animation-duration: 25s;
	animation-iteration-count: infinite;
	overflow-x: hidden;

}


@keyframes myanimation
{
   0%{background-color: #FFB5CF;}
   50%{background-color:#CBB5FF;}
   100%{background-color: #FFB5CF;}
}
header
{
   display: flex;
   justify-content: flex-end;
   align-items: center;
 

}

ul
{
  list-style-type: none;
  overflow: hidden;
  position: relative;
  left: 400px;



}

li
{
	display: inline-block;


}

li a
{
	float: left;	
	color: black;
    font-family: 'Montserrat', sans-serif;	
    padding: 10px 25px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	min-width: 50px;
	text-decoration: none;
	transition: all 0.6s ease 0s;


}

li a:hover
{
	background-color: #AB58D4;
	border-radius: 10px;
}

#logo
{
	cursor: pointer;
	margin-right: auto;
	max-height: 110px;
	max-width: 110px;
	padding-left: 10px;
	padding-bottom: 10px;
}

#order:hover
{
	background-color: #AB58D4;
	border-radius: 10px;
	transition: all 1.4s ease 0s;
}



@media only screen and (orientation:portrait)
 {
   #homekek
   {
   height: 400px;
	 width: 400px;
	 position: relative;
	 left: 400px;
	 bottom: 80px;
	 border-style: none;
	 border-radius: 20px;
   }
   
   .dessert
    {
	  position: relative;
	  font-family: 'Montserrat', sans-serif;
	  left: 130px;
	  top: 180px;
	  font-size: 15.5px;
    } 

    #order
   {
	  position: relative;
	  bottom: 140px;
	  left: 220px;
	  border-style: none;
	  font-family: 'Montserrat', sans-serif;
	  border-radius: 10px;
	  color: black;
   }
   
   ul
   {
    position: relative;
   	left: 0px;
   }

   #work
   {
   	position: absolute;
	 top: 750px;
	 left: 50px ;
	 font-family: 'Montserrat', sans-serif;
	 text-align: center;
	 border: solid 3px black;
	 border-radius: 0px;
	 padding-left: 250px;
	 padding-right: 300px;
   }


   .instagram
  {
   position: relative;
   top: 300px;
   max-width: 200px;
  }
}

@media only screen and (orientation:landscape){
	 
	 #homekek
	 {
	 	width: 500px;
	 	height: 500px;
	 	position: relative;
	 	left: 900px;
	  bottom: 170px;
	  border-style: none;
	  border-radius: 20px;
	 }

	 ul
	 {
	 	position: relative;
	 	left: 0px;
	 }

	 .dessert
	 {
	 	position: relative;
	 	font-family: 'Montserrat', sans-serif;
	  left: 300px;
	  top: 100px;
	  font-size: 18px;
	 }

	 #order
  {
	position: absolute;
	top: 470px;
	left: 430px;
	border-style: none;
	font-family: 'Montserrat', sans-serif;
	border-radius: 10px;
	color: black;
  }

  #work
 {
	position: absolute;
	top: 750px;
	left: 100px ;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	border: solid 3px black;
	border-radius: 0px;
	padding-left: 500px;
	padding-right: 500px;
	
  }

  .instagram
 {
  position: relative;
  top: 200px;
 }

}


